## Postgres Connection URL
POSTGRES_CONNECTION_URL=postgresql://postgres:password@localhost:5432/test

## Redis Connection URL
REDIS_HOST=redis://127.0.0.1:6379
REDIS_PORT=6379

## Port
PORT = 3000

TOKEN_EXPIRES_IN = 1h